<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ehai.log.dao.ActionLogMapper">
    <insert id="insertActionLog" parameterType="cn.ehai.log.entity.ActionLog">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into action_log (action_datetime, action_type, opr_no,
        opr_table_name, original_value, new_value,
        refer_id, user_id, is_success,
        url, method_name)
        values (#{actionDatetime,jdbcType=TIMESTAMP}, #{actionType,jdbcType=INTEGER}, #{oprNo,jdbcType=VARCHAR},
        #{oprTableName,jdbcType=VARCHAR}, #{originalValue,jdbcType=CHAR}, #{newValue,jdbcType=CHAR},
        #{referId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{isSuccess,jdbcType=BIT},
        #{url,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertActionLogCommon" parameterType="cn.ehai.log.entity.ActionLog">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into action_log_common(action_datetime, action_type, opr_no,
        opr_table_name, original_value, new_value,
        refer_id, user_id, is_success,
        url, method_name)
        values (#{actionDatetime,jdbcType=TIMESTAMP}, #{actionType,jdbcType=INTEGER}, #{oprNo,jdbcType=VARCHAR},
        #{oprTableName,jdbcType=VARCHAR}, #{originalValue,jdbcType=CHAR}, #{newValue,jdbcType=CHAR},
        #{referId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{isSuccess,jdbcType=BIT},
        #{url,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR})
    </insert>

    <select id="selectBySql" resultType="map">
    ${sql}
    </select>
</mapper>