<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.seed.log.dao.ActionLogMapper">
    <insert id="insertActionLogCommon" parameterType="cn.seed.log.entity.ActionLog">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into action_log_common(action_datetime, opr_no,
        opr_table_name, original_value, new_value, trace_id)
        values (#{actionDatetime,jdbcType=TIMESTAMP}, #{oprNo,jdbcType=VARCHAR},
        #{oprTableName,jdbcType=VARCHAR}, #{originalValue,jdbcType=CHAR}, #{newValue,jdbcType=CHAR},
        #{traceId,jdbcType=VARCHAR})
    </insert>

    <select id="selectBySql" resultType="map">
    ${sql}
    </select>
    <select id="selectByBusinessLog" resultType="cn.seed.log.entity.BusinessLogValue">
        SELECT original_value originalValue ,new_value newValue,opr_table_name oprTableName,trace_id traceId
        FROM `action_log_common` WHERE trace_id = #{traceId} and opr_table_name IN
        <foreach collection="oprTableNameList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>